alias vim="nvim"
alias vi="nvim"

alias oil="nvim -c Oil"

alias lgit="lazygit"

alias c="clear"
alias Q="exit"

alias srcz="source ~/.zshrc"
alias srcb="source ~/.bashrc"
alias srct="tmux source ~/.tmux.conf"

alias update="sudo apt update && sudo apt upgrade"

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# git aliases
alias gs="git status"
alias ga="git add"
alias gaa="git add --all"
alias gc="git commit -m"
alias gca="git commit --amend"
alias gps="git push"
alias gpl="git pull"
alias gd="git diff"
alias grs="git restore --staged"
alias grsa="git restore --staged ."

alias gl="git log --decorate --all"
alias glo="git log --oneline --decorate --all"
alias gld="git log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short"

alias gb="git branch"
alias gsw="git switch"
alias gswc="git switch -c"
alias gm="git merge"

tmuxnew() {
    if [ -z "$1" ]; then
        echo "Usage: tmmuxnew <nome_da_sessao>"
        return 1
    fi

    SESSION_NAME="$1"

    if tmux has-session -t "$SESSION_NAME" 2>/dev/null; then
        echo "⚠️ Session '$SESSION_NAME' already exists. Attaching to it..."
        tmux attach-session -t "$SESSION_NAME"
    else
        tmux new-session -d -s "$SESSION_NAME"
        tmux attach-session -t "$SESSION_NAME"
    fi
}

psqlnew() {
    if [ -z "$1" ]; then
        echo "Usage: psqlnew <user> <port>"
        return 1
    fi
	DB_USER="$1"
    DB_PORT="$2"
    psql -U "$DB_USER" -p "$DB_PORT" -h localhost -d postgres
}

ai() {
    if [ -z "$*" ]; then
        echo "Usage: ai <question>"
        return 1
    fi
    aichat "$*"
}
